@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #353353;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  color: #fefefe;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navigation {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  background-color: #353353;
}
#navigation .nav-heading {
  padding: 1% 3%;
  font-size: 40px;
}
#navigation .nav-heading i {
  margin-left: 5px;
  font-size: 10px;
  color: #F44B5F;
}
#navigation .nav-toggle {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 3%;
  height: 30px;
  width: 30px;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
#navigation .nav-toggle span {
  background-color: #fefefe;
  height: 2px;
  width: 100%;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
#navigation .active {
  position: relative;
  justify-content: center;
  align-items: center;
}
#navigation .active span:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#navigation .active span:nth-child(2) {
  position: absolute;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
#navigation .active span:nth-child(3) {
  position: absolute;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
#navigation .nav-list {
  top: 0;
  left: 0;
  background-color: #353353;
  position: absolute;
  height: 100vh;
  width: 70%;
  padding: 0% 3%;
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 30px;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
#navigation .nav-list li:first-child {
  margin-bottom: 40px;
}
#navigation .nav-list li:last-child {
  margin-top: 40px;
}
#navigation .nav-list li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}
#navigation .nav-list li a i {
  color: #FFD15C;
}
#navigation .nav-list li a:hover {
  color: #FFD15C;
}
#navigation .nav-list li a .nav-current {
  color: #FFD15C;
}
#navigation .show-nav {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

@media only screen and (min-width: 768px) {
  body {
    flex-direction: column;
    overflow-x: hidden;
  }
  #navigation {
    width: 30%;
    height: 100vh;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  #navigation #main-heading {
    display: none;
  }
  #navigation .nav-heading {
    font-size: 60px;
  }
  #navigation .nav-heading i {
    margin-left: -10px;
    font-size: 15px;
  }
  #navigation .nav-toggle {
    display: none;
  }
  #navigation .nav-list {
    padding: 2% 10%;
    gap: 5%;
    width: 100%;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  #navigation .nav-list li:first-child {
    margin-bottom: 50%;
  }
  #navigation .nav-list li:last-child {
    position: absolute;
    bottom: 5%;
    justify-self: end;
  }
}
@media only screen and (min-width: 1024px) {
  #navigation {
    width: 20%;
  }
  #navigation .nav-list .nav-heading {
    margin-bottom: -15%;
  }
}
#scroll-area {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  right: 0;
  height: fit-content;
  width: 100%;
  height: fit-content;
  color: white;
}
#scroll-area::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 768px) {
  #scroll-area {
    top: 0;
    right: 0;
    width: 70%;
  }
}
@media only screen and (min-width: 1024px) {
  #scroll-area {
    width: 80%;
  }
}
#scroll-area .home {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3%;
  height: 100vh;
  width: 100%;
}
#scroll-area .home #image-layout {
  margin-top: 10%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 60%;
}
#scroll-area .home #image-layout #overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 96;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 20px solid #FFD15C;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
#scroll-area .home #image-layout #person-png {
  z-index: 97;
  height: 95%;
  width: 95%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#scroll-area .home #person-name {
  font-size: 30px;
}
#scroll-area .home .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#scroll-area .home .wrapper .static-txt {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
#scroll-area .home .wrapper .dynamic-txts {
  margin-left: 5px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
#scroll-area .home .dynamic-txts li {
  list-style: none;
  color: #FFD15C;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 15s steps(3) infinite;
  -webkit-animation: slide 15s steps(3) infinite;
}
#scroll-area .home .dynamic-txts li span {
  color: #F44B5F;
  position: relative;
  margin: 5px 0;
  line-height: 30px;
}
#scroll-area .home .dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #353353;
  border-left: 2px solid #FFD15C;
  animation: typing 5s steps(20) infinite, blink step-start 0.5s infinite alternate;
  -webkit-animation: typing 5s steps(20) infinite, blink step-start 0.5s infinite alternate;
}
#scroll-area .home #hire-btn {
  padding: 2% 5%;
  border: none;
  border-radius: 50px;
  background-color: #F44B5F;
  text-transform: capitalize;
  font-size: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#scroll-area .home #hire-btn:hover {
  animation: heart-animation 1s ease-in-out;
  -webkit-animation: heart-animation 1s ease-in-out;
}
#scroll-area .home #social-links {
  font-size: 20px;
  display: flex;
  gap: 10%;
}
#scroll-area .home #social-links .links {
  text-decoration: none;
}
#scroll-area .home #social-links :hover {
  color: #FFD15C;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
#scroll-area .home #scroll-animation {
  cursor: pointer;
  position: relative;
  margin-top: 15%;
  padding: 2% 3%;
  height: 6%;
  width: 3%;
  border: 2px solid #fefefe;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#scroll-area .home #scroll-animation i {
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 5px;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  animation: scroll-animation 2s ease-in-out infinite;
  -webkit-animation: scroll-animation 2s ease-in-out infinite;
}
@keyframes scroll-animation {
  0% {
    top: 30%;
  }
  30% {
    top: 70%;
  }
  100% {
    top: 30%;
  }
}
@keyframes blink {
  50% {
    border-left: transparent;
  }
}
@keyframes typing {
  40%, 60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0;
  }
}
@keyframes slide {
  100% {
    top: -90px;
  }
}
@keyframes heart-animation {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}

@media only screen and (min-width: 768px) {
  #scroll-area .home {
    gap: 4%;
  }
  #scroll-area .home #image-layout {
    height: 30%;
    width: 35%;
  }
  #scroll-area .home #scroll-animation {
    margin-top: 5%;
    padding: 4% 2%;
    width: 2%;
    height: 4%;
  }
  #scroll-area .home #scroll-animation i {
    font-size: 5px;
  }
}
@media only screen and (min-width: 1024px) {
  #scroll-area .home #image-layout {
    margin-top: 2%;
    height: 40%;
    width: 22%;
  }
  #scroll-area .home #person-name {
    font-size: 40px;
  }
  #scroll-area .home #hire-btn {
    padding: 1% 2%;
    font-size: 25px;
  }
  #scroll-area .home #social-links {
    font-size: 30px;
  }
  #scroll-area .home #scroll-animation {
    margin-top: 0;
    padding: 2% 1%;
    width: 2%;
    height: 1%;
  }
  #scroll-area .home #scroll-animation i {
    font-size: 7px;
  }
}
#scroll-area .about {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  position: relative;
}
#scroll-area .about #heading-text {
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: capitalize;
}
#scroll-area .about #heading-text span {
  color: #FFD15C;
}
#scroll-area .about #basic-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  padding: 0 5%;
}
#scroll-area .about #basic-info #image-layout {
  margin-top: 10%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 60%;
}
#scroll-area .about #basic-info #image-layout #overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 96;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 20px solid #44D7B6;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
#scroll-area .about #basic-info #image-layout #person-png {
  z-index: 97;
  height: 95%;
  width: 95%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#scroll-area .about #basic-info #basic-info-text-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  line-height: 30px;
  margin-top: 10%;
  background-color: #302F4E;
  width: 90%;
  padding: 10% 5%;
  border-radius: 30px;
  text-align: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#scroll-area .about #basic-info #basic-info-text-area #traingele-shape {
  z-index: -1;
  position: absolute;
  top: -2%;
  background-color: #302F4E;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#scroll-area .about #education-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  width: 80%;
  padding: 5% 2%;
  border-radius: 30px;
  background-color: #302F4E;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#scroll-area .about #education-section h1 {
  font-size: 30px;
}
#scroll-area .about #education-section #timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0% 5%;
}
#scroll-area .about #education-section #timeline #line {
  position: absolute;
  left: 0;
  top: 0;
  height: 90%;
  left: 5%;
  border: 1px solid #F44B5F;
}
#scroll-area .about #education-section #timeline .sec {
  position: relative;
  width: 100%;
  padding: 5%;
  line-height: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  border-bottom: 2px solid #F44B5F;
  border-left: 2px solid #F44B5F;
  border-radius: 0px 0px 0px 20px;
  -webkit-border-radius: 0px 0px 0px 20px;
  -moz-border-radius: 0px 0px 0px 20px;
  -ms-border-radius: 0px 0px 0px 20px;
  -o-border-radius: 0px 0px 0px 20px;
}
#scroll-area .about #education-section #timeline .sec .icon {
  background-color: #353353;
  position: absolute;
  left: -7%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border: 1px solid #F44B5F;
}
#scroll-area .about #education-section #timeline .sec .icon img {
  height: fit-content;
  width: fit-content;
  height: 20px;
  width: 20px;
}
#scroll-area .about #education-section #timeline .sec h2 {
  font-size: 15px;
}
#scroll-area .about #education-section #timeline .sec p {
  font-size: 12px;
}
#scroll-area .about #education-section #timeline .sec #time {
  color: rgba(255, 255, 255, 0.525);
}

@media only screen and (min-width: 760px) {
  #scroll-area .about #education-section #timeline .sec {
    gap: 1%;
  }
  #scroll-area .about #education-section #timeline .sec .icon {
    left: -6%;
    width: 40px;
    height: 40px;
  }
  #scroll-area .about #education-section #timeline .sec .icon img {
    width: 30px;
    height: 30px;
  }
  #scroll-area .about #education-section #timeline .sec p {
    line-height: 30px;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 2%;
  }
  #scroll-area .about #education-section #timeline .sec h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4%;
  }
  #scroll-area .about #education-section #timeline .sec #time {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1024px) {
  #scroll-area .about {
    margin-top: 10%;
    gap: 1%;
  }
  #scroll-area .about #heading-text {
    font-size: 60px;
  }
  #scroll-area .about #basic-info {
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10%;
  }
  #scroll-area .about #basic-info #image-layout {
    height: 42%;
    width: 15%;
  }
  #scroll-area .about #basic-info #basic-info-text-area {
    padding: 3% 2%;
  }
  #scroll-area .about #basic-info #basic-info-text-area #text-area {
    font-size: 20px;
  }
  #scroll-area .about #basic-info #basic-info-text-area #traingele-shape {
    left: -1%;
    top: 20%;
  }
  #scroll-area .about #basic-info #basic-info-text-area #download-cv {
    padding: 1% 3%;
  }
  #scroll-area .about #education-section {
    padding-top: 1%;
  }
  #scroll-area .about #education-section h1 {
    font-size: 50px;
  }
  #scroll-area .about #education-section #timeline .sec .icon {
    width: 50px;
    height: 50px;
    left: -3%;
  }
  #scroll-area .about #education-section #timeline .sec .icon img {
    width: 40px;
    height: 40px;
  }
  #scroll-area .about #education-section #timeline .sec p {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 2%;
  }
  #scroll-area .about #education-section #timeline .sec h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 4%;
  }
}
.skill {
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}
.skill #heading-text {
  font-size: 25px;
  letter-spacing: 5px;
}
.skill #heading-text span {
  color: #44D7B6;
}
.skill #skill-images {
  margin-top: 10%;
  height: fit-content;
  width: 100%;
  padding: 0% 10%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  column-gap: 40%;
}
.skill #skill-images .images {
  width: 70px;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  background-color: #302F4E;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.skill #skill-images .images .img-bg {
  z-index: -1;
  position: absolute;
  background-color: #FFD15C;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
.skill #skill-images .images img {
  width: 50px;
  height: 50px;
}
.skill #skill-images .images:hover .img-bg {
  opacity: 0.7;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

@media only screen and (min-width: 768px) {
  .skill {
    margin-top: 100px;
  }
  .skill #heading-text {
    font-size: 40px;
  }
  .skill #skill-images {
    margin-top: 10%;
    width: 80%;
    column-gap: 30%;
  }
  .skill #skill-images .images {
    width: 120px;
    height: 120px;
    margin: 30px 0;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }
  .skill #skill-images .images .img-bg {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .skill #skill-images .images img {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (min-width: 1024px) {
  .skill #heading-text {
    font-size: 50px;
  }
  .skill #skill-images {
    margin-top: 5%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20%;
  }
}
.project {
  margin-top: 10%;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.project #heading-text {
  font-size: 25px;
  letter-spacing: 5px;
  text-align: center;
}
.project #heading-text span {
  color: #F44B5F;
}
.project .project-detail {
  display: grid;
  grid-template-columns: repeat(1, 250px);
  grid-template-rows: repeat(6, 180px);
  align-items: center;
  row-gap: 30px;
  padding: 0% 12%;
  justify-content: center;
  width: 100%;
  height: fit-content;
}
.project .project-detail .project-sec {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #302F4E;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.project .project-detail .project-sec img {
  padding: 5%;
  width: 100%;
  height: 100%;
}
.project .project-detail .project-sec .overlay {
  padding: 5%;
  position: absolute;
  background-color: rgba(48, 47, 78, 0.8862745098);
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transform: translateY(100%);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}
.project .project-detail .project-sec .overlay h4 {
  font-size: 18px;
}
.project .project-detail .project-sec .overlay p {
  font-size: 13px;
  line-height: 25px;
}
.project .project-detail .project-sec .overlay .btn {
  font-size: 13px;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
.project .project-detail .project-sec .overlay .btn a {
  text-decoration: none;
  padding: 7% 10%;
  background-color: #302F4E;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.project .project-detail .project-sec .overlay .btn a i {
  font-size: 20px;
}
.project .project-detail .project-sec .overlay .btn a:hover {
  background-color: #FFD15C;
}
.project .project-detail .project-sec .overlay .btn a:hover i {
  color: #353353;
}
.project .project-detail .project-sec:hover .overlay {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}

@media only screen and (min-width: 768px) {
  .project #heading-text {
    font-size: 40px;
  }
  .project .project-detail {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(6, 250px);
  }
  .project .project-detail .project-sec .overlay {
    gap: 10%;
  }
  .project .project-detail .project-sec .overlay h4 {
    font-size: 25px;
  }
  .project .project-detail .project-sec .overlay p {
    font-size: 20px;
  }
  .project .project-detail .project-sec .overlay .btn {
    width: 80%;
  }
  .project .project-detail .project-sec .overlay .btn a i {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .project {
    margin: 0 0 15% 0;
  }
  .project #heading-text {
    font-size: 50px;
    margin-bottom: 2%;
  }
  .project .project-detail {
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(3, 300px);
    row-gap: 10%;
    column-gap: 10%;
    padding: 0;
  }
  .project .project-detail .project-sec .overlay {
    gap: 10%;
  }
  .project .project-detail .project-sec .overlay .btn {
    width: 50%;
  }
  .project .project-detail .project-sec .overlay .btn a {
    font-size: 20px;
    padding: 7% 10%;
  }
}
.contact {
  width: 100%;
  margin-top: 10%;
}
.contact #heading-text {
  font-size: 40px;
  text-align: center;
}
.contact #heading-text span {
  color: #FFD15C;
}
.contact #main-area {
  padding: 1%;
}
.contact #main-area #contact-text {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  background-image: url("https://rogerslimos.com/wp-content/uploads/2020/08/world-map-dotted.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30vh;
}
.contact #main-area #contact-text h1 {
  width: 85%;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 900;
}
.contact #main-area #contact-text p {
  letter-spacing: 1px;
  width: 85%;
  font-size: 18px;
}
.contact #main-area #contact-text p a {
  text-decoration: none;
  color: #F44B5F;
}
.contact #main-area .form-sec {
  margin-top: 10%;
  height: 50vh;
  width: 100%;
  padding: 0 5%;
}
.contact #main-area .form-sec form {
  display: grid;
}
.contact #main-area .form-sec form *:not(button, textarea) {
  color: black;
  font-size: 20px;
  margin-top: 5%;
  padding: 3% 10%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.contact #main-area .form-sec form *:focus {
  outline: none;
}
.contact #main-area .form-sec form #message {
  color: black;
  padding: 3% 10%;
  margin-top: 5%;
  font-size: 20px;
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.contact #main-area .form-sec form button {
  width: 60%;
  padding: 3% 5%;
  margin: 5% 0;
  border: none;
  font-size: 20px;
  background-color: #F44B5F;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.contact #main-area .form-sec form button:hover {
  animation: heart-animation 1s ease-in-out;
  -webkit-animation: heart-animation 1s ease-in-out;
}
@keyframes heart-animation {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}
.contact #main-area .form-sec form .response {
  margin-top: -2%;
  opacity: 0;
  color: #fefefe;
  height: fit-content;
  width: 100%;
  margin-bottom: 5%;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
.contact #main-area .form-sec form .show-response {
  opacity: 1;
}
.contact #main-area .form-sec form .success {
  color: green;
  background-color: #d5f6d3;
}
.contact #main-area .form-sec form .error {
  color: #F44B5F;
  background-color: #f8d7da;
}

@media only screen and (min-width: 768px) {
  .contact {
    margin-top: 10%;
  }
  .contact #heading-text {
    font-size: 50px;
    width: 100%;
    padding-right: 10%;
  }
  .contact #main-area #contact-text {
    gap: 20%;
    height: 40vh;
  }
  .contact #main-area #contact-text h1 {
    width: 90%;
    font-size: 30px;
  }
  .contact #main-area #contact-text p {
    width: 90%;
    font-size: 25px;
  }
  .contact #main-area .form-sec form button {
    width: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  .contact #main-area {
    margin-top: 5%;
    display: flex;
    align-items: start;
  }
  .contact #main-area #contact-text {
    width: 45%;
    gap: 10%;
  }
  .contact #main-area .form-sec {
    width: 55%;
    margin-top: 0;
  }
  .contact #main-area .form-sec form button {
    width: 40%;
  }
}/*# sourceMappingURL=main.css.map */