@import "colors";
@import "typography";

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: $bg-color;
  overflow-x: hidden;

  overflow-y: scroll;
}
* {
  color: $white-color;
  font-family: $open-san-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
